<div class="container-fluid" ng-controller="EditDiscountController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Update discount</div>
        <div class="card-body" >
            <form>
                <div class="mb-3">
                    <label class="small mb-1" for="inputUsername">Name discount</label>
                    <input class="form-control" id="inputUsername" type="text" placeholder="Enter discount name" ng-model="editDiscount.name">
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputFirstName">Started date</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter start date" ng-model="editDiscount.startedDate">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">End date</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter end date" ng-model="editDiscount.endDate">
                    </div>
                    
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputOrgName">Percent Discount</label>
                        <input class="form-control" id="inputOrgName" type="text" placeholder="Enter Percent Discount" ng-model="editDiscount.percentDiscount">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">Max value</label>
                        <input class="form-control" id="inputLocation" type="text" placeholder="Enter Max value" ng-model="editDiscount.fomatMaximumValue">
                    </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="returnEdit(editDiscount)">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveEditDiscount(editDiscount)">Save changes</button>
            </form>
        </div>
    </div>
</div>


