<div ng-controller="DiscountController" id="discountList">
    <div class="container-fluid my-auto d-flex align-items-center">
        <div class="mx-auto">
            <h1>Voucher</h1>
        </div>
    </div>
    <div class="d-flex">
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search" ng-model="searchTerm">
        <button class="btn btn-primary btn-sm" type="submit" ng-click="searchDiscount(searchTerm)">Search</button>

        <input class="form-control me-1" type="date" placeholder="Search" aria-label="Search" ng-model="searchDate">
        <button class="btn btn-primary btn-sm" type="submit" ng-click="searchDateDiscount(searchDate)">Search</button>

        <button type="button" class="dt-button buttons-html5 btn btn-white btn-success btn-bold" data-toggle="tooltip" title='Tải lại dữ liệu' ng-click="reLoad()">
            <span> <i class="fas fa-sync-alt"></i></span>
        </button>
    </div>
    <br>
    <table class="table align-middle mb-1 bg-white">
        <thead class="bg-light">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Start date</th>
                <th>End Date</th>
                <th>Percent</th>
                <th>Max value</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="promotion in pager.promotions">
                <td>{{$index + 1}}</td>
                <td>{{ promotion.name }}</td>
                <td>{{ promotion.startedDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ promotion.endDate | date:'dd/MM/yyyy'}}</td>
                <td>{{ promotion.percentDiscount}}%</td>
                <td>{{ promotion.fomatMaximumValue}}</td>
                <td ng-class="{
                    'text-success': promotion.status2 === 'Active',
                    'text-warning': promotion.status2 === 'Expired',
                    'text-danger': promotion.status2 === 'Awaiting'}">
                    {{ promotion.status2 }}
                </td>
                <td>
                    <div class="button-group">
                        <button type="button" class="btn btn-link" ng-click="editDiscount(promotion)">
                            <i class="bx bx-edit me-2"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                            ng-click="deleteDiscount(promotion)">
                            <i class="bx bx-trash me-2"></i>
                        </button>

                        <div class="modal fade" ng-attr-id="confirmDeleteModal_{{ promotion.id }}" tabindex="-1"
                            role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có chắc chắn muốn xóa?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                        <button type="button" class="btn btn-danger"
                                            id="confirmDeleteButton">Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer text-center">
        <button class="btn" ng-repeat="pageNumber in pager.pageNumbers" ng-click="pager.page = pageNumber">
            {{pageNumber}}
        </button>
    </div>
</div>